mteb==1.14.8
datasets
pandas
tabulate
langdetect
tqdm
# higher version does not work with nv-embed
transformers==4.42.4
gensim
numpy
torch
nltk
spacy
spacy-download
sentence-transformers
FlagEmbedding
# required by some models
peft
einops